header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(/assets/images/donation.jpg);
}

.fa-chevron-up {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(56, 56, 56);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.fa-chevron-up:hover {
    background-color: #A52A2A;
}

.container {
    margin-top: 40px;
}

.profile {
    margin-top: 20px;
}

.profile img {
    border-radius: 50%;
}

.profile #name {
    margin-top: 10px;
}

.btn {
    margin-left: 30px;
    height: 40px;
}

.input-group-prepend {
    width : 20%;
}

.input-group-prepend label {
    width: 100%;
    overflow: hidden;
}