<div class="footer">
    <div class="container">
        <div class="footer-title text-white text-center">
            <h1>Blood Donation</h1>
        </div>
    
        <div class="list text-center">
            <a routerLink="/home" class="text-white text-decoration-none">Home</a>
            <a routerLink="/searchDonor" class="text-white text-decoration-none">Search Donor</a>
            <a routerLink="/newDonor" class="text-white text-decoration-none">New Donor</a>
            <a routerLink="/contact" class="text-white text-decoration-none">Contact</a>
        </div>
        
        <div class="footer-icons text-center">
            <a href="https://www.facebook.com/aly.zeinaldine.5" target="blank"><i class="fa fa-facebook fa-lg text-white"></i></a>
            <a href="https://www.linkedin.com/in/ali-zein-al-dine-ba9111190/" target="blank"><i class="fa fa-linkedin fa-lg text-white"></i></a>
            <a href="https://www.instagram.com/aly.zeinaldine/" target="blank"><i class="fa fa-instagram fa-lg text-white"></i></a>
        </div>
    
        <div class="copy-right text-center text-white">
            <p>©2021 <span>Blood Donation</span></p>
        </div>
        <br>
    </div>
</div>