.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.carousel-item {
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .carousel-item img {
        height: 100%;
    }
}

.fa-chevron-up {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(56, 56, 56);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.fa-chevron-up:hover {
    background-color: #A52A2A;
}

.container {
    margin-top: 30px;
}

.register-link {
    text-decoration: none;
}

.first {
    width: 350px;
}

.mid {
    width: 250px;
}